@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: normal normal 15px/1.6 "Open Sans", sans-serif;
  color: #2e3755;
  min-width: 320px;
}

header, footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img,
iframe,
video {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a img {
  border: none;
}

a {
  color: #5270ba;
}

p {
  margin: 0 0 1.2em;
}
p:last-child {
  margin: 0;
}

figure {
  margin: 3.9em 0 3.95em;
  text-align: center;
}
figure:first-child {
  margin-top: 0;
}
figure:last-child {
  margin-bottom: 0;
}
figure img {
  vertical-align: top;
  border-radius: 10px;
}

figcaption {
  font-size: 14px;
  line-height: 1.7142857143;
  font-style: italic;
  color: rgba(46, 55, 85, 0.7);
  margin: 0.9em 0 0;
}

blockquote {
  margin: 4.8em 0 3.8em;
  position: relative;
  background-color: #f4f8fb;
  padding: 26px 32px 32px;
}
blockquote:first-child {
  margin-top: 0;
}
blockquote:last-child {
  margin-bottom: 0;
}
blockquote:before {
  content: "";
  font: normal normal 30px/1 icomoon;
  color: #5270ba;
  display: inline-block;
  position: absolute;
  top: -15px;
  left: -14px;
}

em {
  display: block;
  border-left: 3px solid #5270ba;
  padding: 0 0 0 1.8em;
  font-weight: bold;
  font-style: italic;
  margin: 3.7em 0;
}
em:first-child {
  margin-top: 0;
}
em:last-child {
  margin-bottom: 0;
}

*:focus {
  outline: none;
}

*:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*элементы форм */
input, textarea, button, select {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

[type=text],
[type=tel],
[type=email],
[type=url],
[type=password],
textarea {
  display: block;
  width: 100%;
  margin: 0 0 20px;
  border-radius: 10px;
  border: 1px solid #2e3755;
  line-height: normal;
  padding: 14px 25px;
  font-size: 15px;
}

.double-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.double-field > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
}

/*кнопки */
button,
[type=submit],
[type=reset],
[type=image] {
  cursor: pointer;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  vertical-align: top;
  border: none;
  border-radius: 10px;
  padding: 0 53px;
  background-color: #8abb49;
  color: #fff;
  font: normal 600 15px/50px "Open Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.btn--small {
  line-height: 35px;
  padding: 0 16px;
  text-transform: none;
}
.btn--block {
  display: block;
  width: 100%;
  padding: 0 10px;
}

/*заголовки */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 30px;
  line-height: 1;
  margin: 0 0 0.75em;
}

h2 {
  font-size: 24px;
  line-height: 1.25;
  margin: 0 0 0.8em;
}

h3 {
  font-size: 18px;
  line-height: 1.6666666667;
  margin: 0 0 0.88em;
}

h4 {
  font-size: 16px;
  line-height: 1.875;
  margin: 3.4em 0 0.9em;
}

/*списки */
ol {
  padding: 0 0 0 3.6em;
  margin: 0 0 1.8em;
}
ol:last-child {
  margin-bottom: 0;
}
ol:first-child {
  margin-top: 0;
}
ol > li {
  margin: 0 0 0.4em;
}
ol > li:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0 0 0 3.6em;
  margin: 0 0 1.8em;
  list-style-image: url(../img/list-marker.svg);
}
ul:last-child {
  margin-bottom: 0;
}
ul > li {
  margin-bottom: 0.4em;
}
ul > li:last-child {
  margin-bottom: 0;
}

/*таблицы */
/*контейнеры */
.wrapper {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

/*ШАПКА */
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-btn {
  display: none;
}

.search-btn {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.search-form {
  display: none;
  background: none;
  padding: 0;
  position: relative;
  width: 400px;
  max-width: 100%;
  color: #fff;
}
.search-form__input {
  border-radius: 0;
  border: none;
  background: none;
  border-bottom: 2px solid;
  padding: 14px 100px 14px 0;
  margin: 0;
}
.search-form__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 40px;
}

.header {
  padding: 31px 0 25px;
  border-bottom: 2px solid rgba(46, 55, 85, 0.1);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__logo {
  width: 181px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
}
.header__menu > li {
  margin-bottom: 0;
}
.header__menu > li.desktop-hidden {
  display: none;
}
.header__menu > li > a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 10px 30px;
}
.header__menu ul {
  display: none;
}

/*ОСНОВНОЕ СОДЕРЖИМОЕ */
.sidebar-page {
  padding: 35px 0 102px;
}
.sidebar-page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-page__content {
  width: calc(100% - 340px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sidebar-page__sidebar {
  width: 310px;
  margin: 0 0 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-top: 10px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 2.1428571429;
  font-weight: 600;
  color: #5270ba;
  margin: 0 0 40px;
}
.breadcrumbs a {
  text-decoration: none;
  display: inline-block;
}
.breadcrumbs span {
  color: rgba(46, 55, 85, 0.5);
  display: inline-block;
}

.text-block {
  margin: 0 0 103px;
}
.text-block:last-child {
  margin-bottom: 0;
}

.comment {
  margin: 0 0 24px;
}
.comment__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(46, 55, 85, 0.1);
  padding-bottom: 11px;
  margin-bottom: 12px;
}
.comment__author {
  margin: 0 1em 0 0;
  font: inherit;
  font-weight: bold;
}
.comment__date {
  font-size: 14px;
  line-height: 1.7142857143;
  color: rgba(46, 55, 85, 0.5);
}
.comment__footer {
  margin: 0.9em 0 0;
}
.comment__link {
  font-size: 14px;
  text-decoration: none;
}

.comments {
  margin: 0 0 101px;
}
.comments:last-child {
  margin-bottom: 0;
}
.comments__title {
  margin: 0 0 1.2em;
}
.comments__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 60px;
}
.comments__list > li {
  margin-bottom: 0;
}
.comments__list:last-child {
  margin-bottom: 0;
}
.comments__sub {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 0 0 32px;
}
.comments__sub > li {
  margin-bottom: 0;
}

.similar-posts {
  margin: 0 0 60px;
}
.similar-posts:last-child {
  margin-bottom: 0;
}
.similar-posts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.similar-posts__list > li {
  margin-bottom: 0;
}
.similar-posts__list > li {
  margin: 0 0 0.66em;
}
.similar-posts__list > li:last-child {
  margin-bottom: 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  margin: 0 0 48px;
}
.menu > li {
  margin-bottom: 0;
}
.menu > li {
  position: relative;
}
.menu > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 60px);
  border-top: 2px solid;
  opacity: 0.1;
}
.menu > li:first-child:before {
  display: none;
}
.menu > li.active:before {
  opacity: 0;
}
.menu > li.active + li:before {
  opacity: 0;
}
.menu > li.active > a {
  border-color: #8abb49;
  background-color: #f4f8fb;
}
.menu > li.open > a:after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.menu > li > a {
  display: block;
  color: inherit;
  text-decoration: none;
  border-left: 3px solid transparent;
  padding: 14px 40px 14px 27px;
  position: relative;
}
.menu > li > a:not(:only-child):after {
  content: "";
  font: normal normal 8px/1 icomoon;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: calc(50% - .5em);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 3px 50px 6px;
  display: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.8;
}
.menu ul > li {
  margin-bottom: 0;
}
.menu ul > li {
  margin: 0 0 0.7em;
}
.menu ul > li > a {
  color: inherit;
  text-decoration: none;
}
.menu ul > li.active > a {
  color: #5270ba;
}

.small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid rgba(46, 55, 85, 0.1);
  padding: 17px 0;
}
.small-card:last-child {
  border-bottom: none;
}
.small-card__pic {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 1px 20px 0 0;
}
.small-card__pic img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.small-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 90px);
          flex: 1 1 calc(100% - 90px);
}
.small-card__category {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  color: #8abb49;
  font-weight: 600;
  margin: 0 0 0.3em;
  text-decoration: none;
}
.small-card__title {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 0.4em;
}
.small-card__title a {
  color: inherit;
  text-decoration: none;
}
.small-card__date {
  color: rgba(46, 55, 85, 0.5);
}

.blog-widget {
  margin: 0 0 39px;
}
.blog-widget:last-child {
  margin-bottom: 0;
}
.blog-widget__title {
  font-size: 24px;
  line-height: 1.25;
  margin: 0 0 1em;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2.5px 56px;
  font-weight: 600;
}
.tags > li {
  margin-bottom: 0;
}
.tags > li {
  margin: 2.5px;
}
.tags > li > a {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #f4f8fb;
  font-size: 15px;
  line-height: 35px;
  padding: 0 18px;
  text-align: center;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2e3755;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.6666666667;
  padding: 142px 30px 140px;
  margin: 0 auto 62px;
  position: relative;
  overflow: hidden;
}
.banner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 55, 85, 0.7);
}
.banner:last-child {
  margin-bottom: 0;
}
.banner__btn {
  margin: 0 0 17px;
  position: relative;
}
.banner__text {
  position: relative;
}

.comments-widget {
  margin: 0 0 60px;
}
.comments-widget:last-child {
  margin-bottom: 0;
}
.comments-widget__title {
  font-size: 24px;
  line-height: 1.25;
  margin: 0 0 1em;
}
.comments-widget__item {
  padding: 17px 0;
  border-bottom: 2px solid rgba(46, 55, 85, 0.1);
}
.comments-widget__item:last-child {
  border-bottom: none;
}
.comments-widget__author {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 0.7em;
}

.gallery {
  padding-top: 7px;
}
.gallery__item {
  display: inline-block;
  margin: 15px;
  width: 310px;
  max-width: calc(100% - 30px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.gallery__item:before, .gallery__item:after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__item:before {
  content: "";
  font: normal normal 50px/1 icomoon;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: transparent;
}
.gallery__item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery__item img {
  display: block;
  width: 100%;
  height: 232px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card {
  width: 310px;
  max-width: calc(100% - 15px);
  margin: 0 15px 60px;
}
.card__head {
  position: relative;
}
.card__pic {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.card__pic img {
  display: block;
  width: 100%;
  height: 222px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__tags {
  position: absolute;
  left: 7.5px;
  bottom: 7.5px;
  max-width: calc(100% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__tag {
  display: inline-block;
  background-color: #8abb49;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  padding: 7.5px 16px;
  margin: 2.5px;
}
.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 18px 0 0;
}
.card__date {
  display: inline-block;
  color: rgba(46, 55, 85, 0.5);
  margin-right: 10px;
}
.card__comments {
  color: rgba(46, 55, 85, 0.8);
  text-decoration: none;
}
.card__comments:before {
  content: "";
  font-family: icomoon;
  color: #dbdce1;
  margin-right: 12px;
  vertical-align: middle;
}
.card__text {
  margin: 12px 0 0;
}
.card__title a {
  text-decoration: none;
  color: inherit;
}

.category {
  padding: 26px 0 0;
}
.category__title {
  margin: 0 0 1.7em;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato, sans-serif;
}

.page-numbers {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
}
.page-numbers.current {
  color: #5270ba;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3333333333em;
}
.page-numbers.prev, .page-numbers.next {
  padding: 0;
  width: 40px;
  line-height: 70px;
  font-weight: bold;
}
.page-numbers.prev {
  text-align: left;
  margin-right: auto;
  border-right: 1px solid #eaf2f9;
}
.page-numbers.next {
  text-align: right;
  margin-left: auto;
  border-left: 1px solid #eaf2f9;
}

.simple-page {
  padding: 35px 0 60px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 24px;
}
.contacts__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 340px;
          flex: 0 0 340px;
  padding-right: 50px;
}
.contacts__phone {
  display: block;
  color: inherit;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0.6em;
}
.contacts__phone:last-child {
  margin-bottom: 0;
}
.contacts__email {
  display: block;
  text-decoration: none;
  font-weight: 600;
  margin: 0 0 2.4em;
}
.contacts__email:last-child {
  margin-bottom: 0;
}
.contacts__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 340px);
          flex: 1 1 calc(100% - 340px);
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.contacts__form textarea {
  height: 120px;
}
.contacts__form-column {
  -ms-flex-preferred-size: calc(50% - 15px);
      flex-basis: calc(50% - 15px);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px;
  text-decoration: none;
}
.social-link i {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2e3755;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 10px 0 0;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
.social-link i.fa-telegram, .social-link i.fa-paper-plane {
  background-color: #69b6dc;
}

/*ПОДВАЛ */
.footer {
  background-color: #f4f8fb;
  padding: 58px 0 60px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 425px;
          flex: 0 1 425px;
  margin: 5px 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 183px;
  margin: 0 15px 19px 0;
}
.footer__copy {
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  margin: 0 auto 19px;
}
.footer__text {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(46, 55, 85, 0.7);
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 58px;
          column-gap: 58px;
  margin: 0 15px;
  padding: 0 0 0 25px;
  font-weight: 600;
}
.footer__menu > li {
  margin-bottom: 0;
}
.footer__menu > li {
  margin: 0 0 1.05em;
}
.footer__menu > li > a {
  color: inherit;
  text-decoration: none;
}
.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 139px;
          flex: 0 1 139px;
  margin: 2px 0 0 15px;
}

/*АДАПТИВ */
@media(min-width: 1030px) {
  .menu > li:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu > li > a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu > li:hover:before {
    opacity: 0;
  }
  .menu > li:hover + li:before {
    opacity: 0;
  }
  .menu > li:hover > a {
    background-color: #f4f8fb;
    border-color: #8abb49;
  }
  .menu ul > li > a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu ul > li:hover > a {
    color: #5270ba;
  }

  .gallery__item:hover:before {
    color: #fff;
  }
  .gallery__item:hover:after {
    background-color: rgba(46, 55, 85, 0.8);
  }
}
@media(max-width: 1029px) {
  body {
    font-size: 14px;
    line-height: 1.5;
  }

  p {
    margin: 0 0 1.6em;
  }

  figure {
    margin: 2.1em 0 1.7em;
  }

  figcaption {
    font-size: 13px;
    line-height: 1.8461538462;
    margin: 0.6em 0 0;
  }

  ul, ol {
    padding-left: 1.6em;
  }

  ol {
    margin: 2.1em 0 1.9em;
  }
  ol > li {
    margin: 0 0 0.6em;
  }

  ul {
    margin: 0 0 1.9em;
  }
  ul > li {
    margin-bottom: 0.6em;
  }

  blockquote {
    margin: 3.1em 0 2.1em 15px;
    padding: 27px 20px 30px 20px;
  }

  em {
    margin: 1.6em 0;
    padding-left: 1em;
  }

  h1 {
    font-size: 24px;
    line-height: 1.25;
    margin: 0 0 0.85em;
  }

  h2 {
    font-size: 18px;
    line-height: 1.6666666667;
    margin: 0 0 0.6em;
  }

  h3 {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 1.1em;
  }

  h4 {
    font-size: 15px;
    line-height: 1.6;
    margin: 1.8em 0 1.3em;
  }

  [type=text],
  [type=tel],
  [type=email],
  [type=url],
  [type=password],
  textarea {
    font-size: 14px;
    padding: 9.5px 18px;
    margin: 0 0 10px;
  }

  .double-field {
    display: block;
  }

  .btn {
    font-size: 14px;
    line-height: 40px;
    padding: 0 15px;
  }
  .btn--small {
    font-size: 15px;
    line-height: 35px;
  }

  .menu-btn {
    display: inline-block;
    font-size: 23px;
    cursor: pointer;
    margin: 0 0 0 40px;
  }
  .menu-btn--active {
    position: fixed;
    z-index: 3;
    right: 22px;
    font-size: 18px;
    color: #fff;
  }
  .menu-btn--active:before {
    content: "";
  }

  .search-btn {
    margin: 0 0 0 auto;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .header {
    padding: 23px 0 21px;
  }
  .header__logo {
    width: 154px;
  }
  .header__menu {
    display: block;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #8abb49;
    padding: 80px 0 0;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu--open {
    opacity: 1;
    pointer-events: auto;
  }
  .header__menu > li {
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu > li:before {
    content: "";
    display: block;
    border-top: 2px solid;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 30px;
    width: calc(100% - 60px);
    -webkit-transition: inherit;
    transition: inherit;
  }
  .header__menu > li:first-child:before {
    display: none;
  }
  .header__menu > li.desktop-hidden {
    display: block;
  }
  .header__menu > li > a {
    padding: 9px 30px;
    position: relative;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-tap-highlight-color: transparent;
  }
  .header__menu > li > a:not(:only-child) {
    padding-right: 45px;
  }
  .header__menu > li > a:not(:only-child):after {
    content: "";
    font: normal normal 8px/1 icomoon;
    display: block;
    position: absolute;
    top: calc(50% - .5em);
    right: 30px;
    -webkit-transition: inherit;
    transition: inherit;
  }
  .header__menu > li.active:before, .header__menu > li:active:before {
    opacity: 0;
  }
  .header__menu > li.active + li:before, .header__menu > li:active + li:before {
    opacity: 0;
  }
  .header__menu > li.active > a, .header__menu > li:active > a {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .header__menu > li.open > a:after {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .header__menu > li.open > ul {
    display: block;
  }
  .header__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    padding: 9px 30px 7px 50px;
    -webkit-animation: fadeIn 0.3s ease;
            animation: fadeIn 0.3s ease;
  }
  .header__menu ul > li {
    margin-bottom: 0;
  }
  .header__menu ul > li {
    margin: 0 0 0.4em;
  }
  .header__menu ul > li:last-child {
    margin-bottom: 0;
  }
  .header__menu ul > li > a {
    color: inherit;
    text-decoration: none;
  }

  .search-form__input {
    padding: 14px 100px 14px 15px;
    margin: 0;
  }

  .sidebar-page {
    padding: 24px 0 44px;
  }
  .sidebar-page__inner {
    display: block;
  }
  .sidebar-page__content {
    width: auto;
  }
  .sidebar-page__sidebar {
    width: auto;
    margin: 44px 0 0;
  }

  .breadcrumbs {
    margin: 0 0 25px;
  }

  .text-block {
    margin: 0 0 58px;
  }

  .comments {
    margin: 0 0 57px;
  }
  .comments__title {
    margin: 0 0 1.4em;
  }
  .comments__list {
    margin: 0 0 29px;
  }
  .comments__sub {
    padding-left: 19px;
  }
  .comments__submit-btn {
    display: block;
    width: 100%;
  }

  .similar-posts__title {
    margin: 0 0 0.9em;
  }
  .similar-posts__list {
    font-size: 15px;
    line-height: 1.6;
  }

  .menu {
    display: none;
  }

  .small-card__category {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 0.4em;
  }
  .small-card__title {
    margin: 0 0 0.75em;
  }

  .blog-widget__title {
    font-size: 18px;
    line-height: 1.6666666667;
    margin: 0 0 0.5em;
  }

  .tags {
    margin: 0 -2px 59px;
  }
  .tags > li {
    margin: 2px;
  }
  .tags > li > a {
    font-size: 13px;
    line-height: 33px;
  }

  .banner {
    padding: 99px 30px 97px;
    margin: 0 auto 57px;
  }
  .banner__btn {
    margin: 0 0 7px;
  }

  .comments-widget__title {
    font-size: 18px;
    line-height: 1.6666666667;
    margin: 0 0 0.4em;
  }
  .comments-widget__author {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 0.5em;
  }

  .gallery__box {
    margin: 0 -5px;
  }
  .gallery__item {
    width: 280px;
    max-width: calc(100% - 10px);
    margin: 5px;
  }
  .gallery__item img {
    height: 209px;
  }

  .card {
    margin: 0 15px 30px;
    width: 280px;
    max-width: calc(100% - 30px);
  }
  .card__pic img {
    height: 210px;
  }
  .card__info {
    margin-top: 13px;
  }
  .card__title {
    margin: 0 0 0.6em;
  }

  .category {
    padding-top: 0;
  }

  .pagination {
    font-size: 15px;
    line-height: 1.6;
    margin: 10px -20px 0;
  }

  .page-numbers {
    display: none;
    padding: 0;
    /*попытка выцепить последний номер страницы для существующей структуры Wordpress-пагинации */
  }
  .page-numbers.current {
    display: inline-block;
    margin-right: 4px;
  }
  .page-numbers.current:after {
    content: " / ";
    font-size: 15px;
    color: #2e3755;
    line-height: 1.6;
  }
  .page-numbers:last-child:not(.next), .page-numbers.current + .page-numbers:nth-last-child(2), .page-numbers.dots + .page-numbers:nth-last-child(2) {
    display: inline-block;
  }
  .page-numbers.prev, .page-numbers.next {
    display: inline-block;
    line-height: 50px;
    width: 50px;
    text-align: center;
  }

  .simple-page {
    padding: 24px 0 59px;
  }

  .contacts__inner {
    display: block;
    padding-top: 9px;
  }
  .contacts__text {
    margin: 0 0 53px;
  }
  .contacts__text:last-child {
    margin-bottom: 0;
  }
  .contacts__phone {
    font-size: 18px;
    line-height: 1.6666666667;
    margin: 0 0 0.7em;
  }
  .contacts__email {
    margin: 0 0 2.1em;
  }
  .contacts__form {
    display: block;
    padding-top: 0;
  }

  .footer {
    padding: 35px 0 30px;
  }
  .footer__wrapper {
    display: block;
  }
  .footer__main {
    display: block;
    margin: 0;
  }
  .footer__logo {
    width: 155px;
    display: block;
    margin: 0 auto 22px;
  }
  .footer__copy {
    display: none;
  }
  .footer__text {
    margin: 0 0 1.8em;
  }
  .footer__menu {
    margin: 0 0 2.3em;
    padding: 0;
    font-size: 15px;
    line-height: 2;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .footer__menu > li {
    margin: 0 0 0.7em;
  }
  .footer__social {
    margin: 0 -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social-link {
    margin: 0 5px 10px;
    -ms-flex-preferred-size: 135px;
        flex-basis: 135px;
  }
}
